/dev/build_frontend.py text eol=lf
/frontend/**/*.css text eol=lf
/frontend/**/*.html text eol=lf
/frontend/**/*.js text eol=lf
/frontend/**/*.json text eol=lf
/frontend/**/*.md text eol=lf
/frontend/**/*.ts text eol=lf
/frontend/**/*.tsx text eol=lf
/mcp_email_server/web_ui/static/**/*.css text eol=lf
/mcp_email_server/web_ui/static/**/*.html text eol=lf
/mcp_email_server/web_ui/static/**/*.js text eol=lf
/mcp_email_server/web_ui/static/**/*.md text eol=lf
/run.cmd text eol=crlf
/run.sh text eol=lf
